In [ ]:
BDAT 1004 Programming - Problem Set Assignment 2

!pip install ipython-sql

In [12]:
%load_ext sql
%sql sqlite://

Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

City Country Season Temperature (C) Rainfall (mm)
Mumbai India Winter 24.8 5.9 
Mumbai India Spring 28.4 16.2 
Mumbai India Summer 27.9 1549.4 
Mumbai India Fall 27.6 346.0 
London United Kingdom Winter 4.2 207.7 
London United Kingdom Spring 8.3 169.6 
London United Kingdom Summer 15.7 157.0 
London United Kingdom Fall 10.4 218.5 
Cairo Egypt Winter 13.6 16.5 
Cairo Egypt Spring 20.7 6.5 
Cairo Egypt Summer 27.7 0.1 
Cairo Egypt Fall 22.2 4.5

Creating Table and inseting Values

In [33]:
%%sql

Insert Into WeatherAnalysis (City, Country, Season, Temperature, Rainfall)
Values('Mumbai', 'India', 'Winter', '24.8', '5.9');

 * sqlite://
1 rows affected.

[]

In [42]:
%%sql
Insert Into WeatherAnalysis (City, Country, Season, Temperature, Rainfall)
Values('London', 'United Kingdom', 'Winter', '4.2', '207.7');
Insert Into WeatherAnalysis (City, Country, Season, Temperature, Rainfall)
Values('London', 'United Kingdom', 'Spring', '8.3', '169.6');
Insert Into WeatherAnalysis (City, Country, Season, Temperature, Rainfall)
Values('London', 'United Kingdom', 'Summer', '15.7', '157.0');
Insert Into WeatherAnalysis (City, Country, Season, Temperature, Rainfall)
Values('London', 'United Kingdom', 'Fall', '10.4', '218.5');
Insert Into WeatherAnalysis (City, Country, Season, Temperature, Rainfall)
Values('Cairo', 'Egypt', 'Winter', '13.6', '16.5');
Insert Into WeatherAnalysis (City, Country, Season, Temperature, Rainfall)
Values('Cairo', 'Egypt', 'Spring', '20.7', '6.5');
Insert Into WeatherAnalysis (City, Country, Season, Temperature, Rainfall)
Values('Cairo', 'Egypt', 'Summer', '27.7', '0.1');
Insert Into WeatherAnalysis (City, Country, Season, Temperature, Rainfall)
Values('Cairo', 'Egypt', 'Fall', '22.2', '4.5');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [43]:
%%sql
Select *
From WeatherAnalysis

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

Write SQL queries on the below database table that return: 
a) All the temperature data.

In [47]:
%%sql
Select Temperature
from WeatherAnalysis

 * sqlite://
Done.

[(24.8,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [49]:
%%sql
Select Distinct City
From WeatherAnalysis

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [65]:
%%sql
Select *
From WeatherAnalysis
Where Country = "India"

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [62]:
%%sql
Select *
From WeatherAnalysis
Where Season = "Fall"

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [66]:
%%sql
Select City, Country, Season
From WeatherAnalysis
Where Rainfall BETWEEN 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [92]:
%%sql
Select city,country 
from WeatherAnalysis
where Season = "Fall" and Temperature>20 
order by Temperature

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [67]:
%%sql
Select City, sum(Rainfall)
From WeatherAnalysis
where city = 'Cairo'

 * sqlite://
Done.

[('Cairo', 27.6)]

h) The total rainfall for each season.

In [68]:
%%sql
Select Season, sum(Rainfall)
From WeatherAnalysis
Group By Season

 * sqlite://
Done.

[('Fall', 569.0), ('Spring', 176.1), ('Summer', 1706.5), ('Winter', 230.1)]

Q 1. Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

Answer : O/p 

a = 6 

>>> b() = 0 + 2 = 2
>>> b() = 2 +2 = 4
>>> b() = 4 + 2 = 6

As each time 2 is added to the value so the final value is 6

Answer for Question 1

O/p 

a = 6 

>>> b() = 0 + 2 = 2
>>> b() = 2 +2 = 4
>>> b() = 4 + 2 = 6

As each time 2 is added to the value so the final value is 6

Question 2


Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [9]:
def fileLength(fileName):
    try:                        
        infile=open(fileName)
        data=infile.read()
        ln=len(data)
        infile.close()
        print(ln)
    except IOError:
            
        print('File ' + fileName + ' not found.')   

fileLength('Filelength.txt')
fileLength('filelent.txt')

123
File filelent.txt not found.

Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [4]:
class Marsupial:
    def __init__(self):
        self.List = []
        
    def put_in_pouch(self,item):       
        self.List.append(item)
        
    def pouch_contents(self):          
        return self.List

class Kangaroo(Marsupial):
    def __init__(self,x,y):        
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):          
        self.x += dx
        self.y += dy
        
    def __str__(self):            
        return "I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"
    
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Q 4. Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [115]:
def collatz(n):
    if n == 1:               
        return [n]
    elif n%2==0:             
        return [n] + collatz(int(n/2))
    else:                    
        return [n] + collatz(int(n*3+1))

a=collatz(1)
b=collatz(10)
print("collatz(1)")
print(a)
print("\ncollatz(10)")
print(b)

collatz(1)
[1]

collatz(10)
[10, 5, 16, 8, 4, 2, 1]

Question 5

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [104]:
def binary(n):
    if n == 0:
        return 0
    else:
        binary(n//2)
    print(n % 2,end = '')

Req   = int(input("Please input the number to conver to binary: "))
binary(Req)

Enter your Number: 9
1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [116]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2"]
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.Headers:         
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)

In [7]:
from html.parser import HeadingParser
infile = open("w3c.html","r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

ImportError: cannot import name 'HeadingParser' from 'html.parser' (C:\Users\singh\anaconda3\lib\html\parser.py)

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

Question 9

. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [123]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) Converting to Upper Case
print([x.upper() for x in words])

# b) Converting to lower Case
print([x.lower() for x in words])

# c) Finding the length
print([len(x) for x in words])


# d) the list containing a list for every word of list words, where each list contains the word in uppercase and
# lowercase and the length of the word.)
print([[x.upper(), x.lower(), len(x)] for x in words])

# Printing the list of words containing 4 or more characters
print([x for x in words if len(x)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']